.movies {
  overflow-y: scroll;
  text-align: center;
  height: 90vh;
}

.movie-item {
  display: inline-block;
  box-shadow: 1px 1px 10px #bbb;
  width: 300px;
  height: 435px;
  margin: 3%;
  position: relative;
  overflow: hidden;
}

.movie-image-preview:hover {
  transition: all .5s ease-in;
  height: 435px;
  display: block;
  transform: scale(1.05);
}

.movie-image-preview {
  transition: all .5s ease-in;
  height: 100px;
  overflow-y: hidden;
  box-shadow: 0 2px 10px #aaa;
}

.info {
  text-align: left;
  padding: 10px;
  overflow: scroll;
  height: 335px;
}

.about-me {
  position: absolute;
  width: 50vw;
  height: 50vh;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 50px #666;
}

.home-view {
  margin-top: 20vh;
  text-align: center;
}

.home-view .title {
  font-weight: 900;
  font-size: 2em;
}

.home-view .description {
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
}

.movie-release-date span {
  font-weight: bold;
}

h1.app-title {
  font-weight: bold;
}

.no-active-description {
  color: #ccc;
}

.movie-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 0;
  color: #394481;
}

.current-genre {
  margin-bottom: 0;
  color: #3f51b5;
}
