<div class="app" ng-controller="MainController">
  <md-toolbar md-scroll-shrink ng-if="true">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h1 class="app-title">
        <span>{{APP_TITLE}}</span>
      </h1>
      <span flex></span>
      <md-button ng-click="showModal()">About me</md-button>
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left" 
              md-component-id="left"
              md-disable-backdrop md-whiteframe="4">
      
      <md-toolbar md-scroll-shrink ng-if="true">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()">
            <md-icon md-svg-icon="close"></md-icon>
          </md-button>
          <h1>Categories</h1>
        </div>
      </md-toolbar>
      <md-content layout-margin>
        <p class="md-body-2">Select a category from the list below:</p>

        <md-list flex>
          <md-list-item class="md-1-line cat-item" 
                        ng-repeat="cat in catList"
                        ng-click="getMoviesList(cat.id)">
            <div class="cat-title">{{cat.name}}</div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

  
  <div class="about-me" ng-if="isModalShowing">hello</div>

  <ng-include src="'templates/Movies.html'"></ng-include>
</div>