<div ng-if="movies" class="movies" ng-controller="MoviesController">
  <h2 class="current-genre">{{currentGenre}}</h2>
  
  <div  class="movie-item" 
        ng-repeat="movie in movies">
    <div class="movie-image-preview ">
      <img src="{{getImageUrl(movie)}}" alt="poster" width="300">
    </div>

    <div class="info">
      <h4 class="movie-title">{{movie.title}}</h4>
      <p class="movie-release-date">
        <span>Release Date: </span>
        {{movie.release_date | date:'yyyy'}}
      </p>
      <p class="movie-overview {{!movie.overview ? 'no-active-description' : ''}}">{{movie.overview || 'Oops, there is no active desription, we are sorry :('}}</p>
    </div>
  </div>
</div>

<div ng-if="!movies">
  <div class="home-view">
    <h2 class="title">Bored Cinephile</h2>
    <div class="description">This app allows you to find a movie by it`s genre. Movie list generates randomly on each click on genre list item. To begin, click on menu button near the logo. Good luck!</div>
  </div>
</div>

